.campo-digitacao {
    font-size: 1.25em;
    height: 150px;
    border: 3px solid black;
}

.frase {
    font-size: 1.25em;
    text-align: left;
}

.campo-desativado {
    background-color: lightgrey;
}

.icone {
    vertical-align: sub;
}

.borda-verde {
    border: 3px solid green;
}

.borda-vermelha {
    border: 3px solid red;
}